@media(max-width: 900px)
{
  // home 
  .home 
  {
    flex-direction: column;

    // left 
    &-left 
    {
      width: 100%;
        // heading 
        &-heading 
        {
          img 
          {
            height: fit-content;
          }
        }
      // motto 
      &-motto 
      {
        text-align: center;
      }
    }

    // right
    &-right 
    {
      width: 100%;
    }

  }

  // nav
  .nav 
  {
    flex-direction: column;
    padding: 20px;
  }

  
  // signup
  .signup 
  {
    width: 90%;
    margin: auto;
  }

  #label:checked ~ .signup 
{
  display: block;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%, -40%);
  
}
}